<h1>Stefans wunderbare Welt der Transportplanung</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<li>Angebotsdaten werden bei den <%= link_to "Sources", sources_path %> bearbeitet!</li>
<li>Nachfragedaten werden bei den <%= link_to "Sinks", sinks_path %> bearbeitet!</li>
<li>Transportkostensätze und Optiemierungen
    werden bei den <%= link_to "Transport_Links", transport_links_path %> bearbeitet!</li>
